<launch>

  <!-- Load the dgt_config.yaml file -->
  <rosparam command="load" file="$(find differential_gt)/config/dgt_config.yaml" />
  <!-- Plot controller's state -->
  <arg name="plot_positions_and_references" default="true"/>
  <group if="$(arg plot_positions_and_references)">
    <node name="diff_game_theory_controller_state" pkg="rqt_multiplot" type="rqt_multiplot" respawn="false" 
      args="--multiplot-config $(find differential_gt)/config/reference_state_and_control_inputs.xml --multiplot-run-all " />
  </group>

  <arg name="static_references" default="false"/>
  <group if="$(arg static_references)">

    <!-- Launch robot_reference publisher node -->
    <node name="robot_reference_publisher" pkg="differential_gt" type="robot_reference_publisher.py" respawn="false" 
      args="" output="screen" />
    <!-- Launch human_reference publisher node -->
    <node name="human_reference_publisher" pkg="differential_gt" type="human_reference_publisher.py" respawn="false" 
      args="" output="screen" />
    <!-- Launch alpha publisher node -->
    <node name="alpha_publisher" pkg="differential_gt" type="alpha_publisher.py" respawn="false" 
      args="" output="screen" />

  </group>

  <!-- Launch diff_game_theory node -->
  <node name="diff_game_theory_node_3dof_external_human_robot_refs" pkg="differential_gt" type="dgtn_3dof_external_human_robot_refs" respawn="false" 
    args="" output="screen" />

</launch>
